# Ignore dataset
/data/test/
/data/train/
/data/valid/
/data/*.txt

# Ignore YOLO training runs and artifacts
/challenge/runs/

# Ignore PyTorch model files
*.pt

# Do not ignore model_best.pt
!challenge/artifacts/*.pt

# Ignore virtual environment folders
venv/
.env/
# Ignore all Python cache folders and files
__pycache__/